%h3.text-muted= t('headline.index', record: Invitation.model_name.human)

%table.table.table-striped#invitation_table
  %thead
    %tr
      %th= Invitation.human_attribute_name(:owner_email)
      %th= Invitation.human_attribute_name(:guest_email)
      %th= Invitation.human_attribute_name(:created_at)
      %th{ width: 70 }

  %tbody
    - @invitations.each do |invitation|
      %tr{id: "invitation_#{invitation.id}"}
        %td= invitation.owner_email
        %td= invitation.guest_email
        %td= invitation.created_at
        %td
          = link_to t('button.destroy'), admin_panel_invitation_path(invitation), method: :delete, data: { remote: true, confirm: t('button.confirm')  }, class: 'btn btn-danger btn-xs'

= paginate @invitations
