%nav#left-menu.hidden
  %ul
    %li#nav-profile
      = link_to mobile_my_account_path do
        = image_tag 'mobile/nav-profile.svg', class: 'nav-icon'
        = t('left_menu.profile')
    %li#nav-review
      = link_to new_mobile_medical_experience_path do
        = image_tag 'mobile/nav-review.svg', class: 'nav-icon'
        = t('left_menu.review')
    %li#nav-search
      = link_to mobile_search_path do
        = image_tag 'mobile/nav-search.svg', class: 'nav-icon'
        = t('left_menu.search')
    %li#nav-about
      = link_to '/mobile/about' do
        = image_tag 'mobile/nav-about.svg', class: 'nav-icon'
        = t('left_menu.about')
