#navigation
  - unless skip_menu
    - if back
      %a{ href: back }
        = image_tag 'mobile/back_button.png', id: 'navigation-left'
    - else
      %a{ href: '#left-menu' }
        = image_tag 'mobile/3-bars.svg', id: 'navigation-left'

  = truncate(title, length: title_length)
  = yield
= separator_tag
