.top_logo.landing-page
  - if I18n.locale == :en
    = image_tag('mobile/tutorial/intro_logo.png')
  - elsif I18n.locale == :"zh-CN"
    = image_tag 'zh_logo_240.png', id: 'logo'

#search-menu
  #title
    / .search-menu-logo
    / = t('guest_flow.landing.title')

#actions-section
  .big_btn
    = link_to_button t('guest_flow.landing.record_experience').html_safe, mobile_guest_flow_medical_experience_path, bg: 'dark_cyan', icon: 'folder'
    = link_to_button t('common.search'), mobile_search_path, bg: 'dark_cyan', icon: 'search'
  = link_to_button t('guest_flow.landing.sign_in'), mobile_sign_in_path, icon: 'login'
  = link_to_button t('guest_flow.landing.register'), mobile_sign_up_path, icon: 'register', bg: 'dark_cyan'
