%h3.text-muted= t('headline.index', record: Comment.model_name.human)

%table.table.table-striped#comment_table
  %thead
    %tr
      %th= Comment.human_attribute_name(:user)
      %th= Comment.human_attribute_name(:writer)
      %th= Comment.human_attribute_name(:status)
      %th= Comment.human_attribute_name(:created_at)
      %th{ width: 130 }

  %tbody= render @comments

= paginate @comments
