.intro-wrapper
  - if I18n.locale == :"zh-CN"
    .intro-text.intro-text-cn{class: intro_css}
      - if intro_step_two?
        = t('intro.if_text')
      - else
        = t('intro.else_text')
    .intro-logo.intro-logo-cn{class: intro_css}
      = image_tag 'zh_logo_240.png', id: 'logo'
  - elsif I18n.locale == :en
    .intro-logo{class: intro_css}
      - if I18n.locale == :en
        = image_tag('mobile/tutorial/intro_logo.png')
    .intro-text{class: intro_css}
      - if intro_step_two?
        = t('intro.if_text')
      - else
        = t('intro.else_text')
  #actions-section
    = link_to_button intro_button_text, intro_next_path, icon: 'tick'
