.welcome-bg{class: welcome_bg_class}
  - to_number = { 'one' => 1, 'two' => 2, 'three' => 3}
  - if I18n.locale == :en
    = image_tag "mobile/tutorial/welcome-bg-#{to_number[params[:step]]}-480.jpg", class: 'bg'
  - elsif I18n.locale == :"zh-CN"
    = image_tag "mobile/tutorial/welcome-bg-#{to_number[params[:step]]}-cn.jpg", class: 'bg'

  .wrapper
    .desc
      - case params[:step]
      - when 'two'  then
        = t('intro.welcome.step_two')
      - when 'three' then
        = t('intro.welcome.step_three')
      - else
        = t('intro.welcome.other_step')
    .step-markers= step_markers
    #actions-section= link_to_button t('intro.next'), welcome_next_path, icon: 'tick'
