%h3.text-muted= t('headline.show', record: Report.model_name.human)
%hr.thin
%p
  %b #{Report.human_attribute_name(:user)} : &nbsp;
  = @report.user_email
%p
  %b #{Report.human_attribute_name(:type)} : &nbsp;
  = @report.human_type
%p
  %b #{Report.human_attribute_name(:content)} : &nbsp;
  = @report.content
