#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{:role => "navigation"}
  .well.sidebar-nav
    %ul.nav
      %li= t('sidebar.accounts')
      %li= link_to User.model_name.human, admin_panel_users_path
      %li= link_to Mailboxer::Message.model_name.human, admin_panel_mailboxer_messages_path
      %li= link_to Authentication.model_name.human, admin_panel_authentications_path
      %li= link_to Comment.model_name.human, admin_panel_comments_path
      %li= link_to InviteRequest.model_name.human, admin_panel_invite_requests_path
      %li= link_to Invitation.model_name.human, admin_panel_invitations_path

      %li= t('sidebar.data')
      %li= link_to Hospital.model_name.human, admin_panel_hospitals_path
      %li= link_to Medication.model_name.human, admin_panel_medications_path
      %li= link_to Physician.model_name.human, admin_panel_physicians_path
      %li= link_to Company.model_name.human, admin_panel_companies_path
      %li= link_to Department.model_name.human, admin_panel_departments_path
      %li= link_to Speciality.model_name.human, admin_panel_specialities_path
      %li= link_to MedicalExperience.model_name.human, admin_panel_medical_experiences_path
      %li= link_to ReferralCode.model_name.human, admin_panel_referral_codes_path
      %li= link_to Report.model_name.human, admin_panel_reports_path
      %li= link_to Qrcode.model_name.human, admin_panel_qrcodes_path
      %li= link_to Survey::Survey.model_name.human, admin_panel_surveys_path

      %li= t('sidebar.reviews')
      %li= link_to HospitalReview.model_name.human, admin_panel_reviews_path(type: 'HospitalReview')
      %li= link_to PhysicianReview.model_name.human, admin_panel_reviews_path(type: 'PhysicianReview')
      %li= link_to MedicationReview.model_name.human, admin_panel_reviews_path(type: 'MedicationReview')

      %li= t('sidebar.options')
      %li= link_to Condition.model_name.human, admin_panel_conditions_path
      %li= link_to Symptom.model_name.human, admin_panel_symptoms_path
      %li= link_to Question.model_name.human, admin_panel_questions_path
      %li= link_to Blacklist.model_name.human, admin_panel_blacklists_path

      %li= t('sidebar.setting')
      %li= link_to Admin.model_name.human, admin_panel_admins_path
      %li= link_to Feedback.model_name.human, admin_panel_feedback_index_path
