= navigation_bar(title: t('search.search'))

#search-menu
  #title
    %span.search-logo= image_tag 'mobile/search-menu/logo.png'
    = t('search.search_for')
  %div{class: "#{'search-items-cn' if I18n.locale == :'zh-CN'}"}
    = action_button t('search.hospitals'), bg: 'dark_cyan', icon: 'search-menu-hospital',
      href: mobile_hospitals_path
    = action_button t('search.doctor'), bg: 'dark_cyan', icon: 'search-menu-physician',
      href: mobile_search_physician_path
    = action_button t('search.drug'), bg: 'dark_cyan', icon: 'search-menu-drug',
      href: mobile_medications_path
    = action_button t('search.reviews'), bg: 'dark_cyan', icon: 'search-menu-review', href: mobile_search_review_add_conditions_path
