= navigation_bar title: t('search.reviews')

- if params[:type]
  .search-type-tab.clearfix
    - Mobile::ReviewsHelper::REVIEW_TAB.each do |type, label|
      = link_to label, params.merge(type: type), class: review_type_tab_class(type)

.reviews-list
  = render partial: 'review', collection: @reviews

- content_for :javascript do
  :javascript
    $(function(){
      // Adjust info dom height, because have raty, so height will different when resize.
      $('.detail').width($('.review').width() - 100 - 50);
      $(window).on('resize', function() {
        $('.detail').width($('.review').width() - 100 - 50);
      });

      function starRating(){
        $('.rating-middle').raty({
          readOnly: true,
          starOff : '#{asset_path("mobile/icons/star-off.png")}',
          starOn  : '#{asset_path("mobile/icons/star-on.png")}',
          width: 175,
          score: function() {
            return $(this).data('rating');
          }
        });
      }

      starRating();

      if (#{@has_more ? 'true' : 'false'}) {
        $('.reviews-list').loadMore('.review:last', starRating);
      }

    });
