%tr{id: "hospital_#{hospital.id}"}
  %td= hospital.vendor_id
  %td= hospital.name
  %td= hospital.address
  %td{title: hospital.human_departments}= truncate(hospital.human_departments)
  %td= hospital.h_class
  %td= hospital.avg_rating
  %th
    = link_to t('button.edit'), edit_admin_panel_hospital_path(hospital), class: 'btn btn-primary btn-xs various fancybox.ajax'
    = link_to Department.model_name.human, admin_panel_departments_path(hospital_id: hospital.id), class: 'btn btn-primary btn-xs various fancybox.ajax'
    = link_to Physician.model_name.human, physicians_admin_panel_hospital_path(hospital), class: 'btn btn-primary btn-xs various fancybox.ajax'
    = link_to t('word.map'), map_admin_panel_hospital_path(hospital), data: { 'fancybox-type' => 'iframe' }, class: 'btn btn-primary btn-xs map'
    =# link_to t('word.geocode'), 'javascript: void(0);', class: 'btn btn-primary btn-xs geocode', data: { address: hospital.address_with_city, 'hospital-id' => hospital.id }
    = link_to t('button.destroy'), admin_panel_hospital_path(hospital), method: :delete, data: { remote: true, confirm: t('button.confirm')  }, class: 'btn btn-danger btn-xs'
