.nav-bar
  = link_to 'javascript: history.back();', class: 'icon-btn' do
    = image_tag('mobile/grey_button.svg', class: 'bg')
    = image_tag('mobile/icons/chevron-left.png', class: 'icon')
  .center-text
    - case action_name
    - when 'step_one' then
      = t('step_one.complete_profile')
    - when 'step_two' then
      = t('step_two.title')
    - when 'step_three' then
      = t('step_three.title')
= separator_tag
.step-markers= registration_step_markers
