%h3.text-muted= t('headline.index', record: Symptom.model_name.human)

%table.table.table-striped#symptom_table
  %thead
    %tr
      %th= Symptom.human_attribute_name(:name)
      %th= Symptom.human_attribute_name(:category)
      %th= Symptom.human_attribute_name(:created_at)
      %th{ width: 115 }

  %tbody= render @symptoms

= paginate @symptoms

%div= link_to t('button.create', record: Condition.model_name.human), new_admin_panel_symptom_path, class: 'btn btn-success various fancybox.ajax'
