%tr{id: "blacklist_#{blacklist.id}"}
  %td= blacklist.word
  %td= blacklist.created_at
  %td
    = link_to t('button.edit'), edit_admin_panel_blacklist_path(blacklist), class: 'btn btn-primary btn-xs various fancybox.ajax'
    = link_to t('button.destroy'), admin_panel_blacklist_path(blacklist), method: :delete, data: { remote: true, confirm: t('button.confirm')  }, class: 'btn btn-danger btn-xs'
