.info.physician
  .avatar.inline= image_tag('mobile/physician_avatar.png')
  .details.inline
    .attr.hospital_name= @record.hospital.try(:name)
    .attr= I18n.t(@record[:gender])
    .attr= @record.position
    .attr #{@record.human_specialities}
    - if @record.doc
      = link_to t('title.physicians.more'), microsites_url(@record)
    #avg_rating.rating-large{data: {rating: @record.avg_rating}}
