= simple_form_for([:admin_panel, @review], as: :review, url: admin_panel_review_path(@review), remote: true, html: {class: 'form-horizontal', role: 'form' }, defaults: { input_html: { class: 'form-control'}, label_html: { class: 'col-lg-2' } }) do |f|
  = f.error_notification
  - if @review.is_a? MedicationReview
    = f.input :dosage
    = f.input :intake_frequency
    = f.input :duration
    = f.input :adverse_effects
  = f.input :note, as: :text
  = f.input :status, collection: Review::STATUS, include_blank: false
  .form-group.rating-list
    = f.label :rating, Review.human_attribute_name(:avg_rating), class: 'optional control-label col-lg-2'
    %ul.inline.col-lg-6
      - @review.question_avg_ratings.each do |content, value|
        %li
          %span #{content}:
          %span.rating= value


  .form-group
    .col-lg-offset-2
      = f.button :submit, class: 'btn btn-primary'
