%h3.text-muted.pull-left= t('headline.index', record: @klass.model_name.human)

= form_tag(admin_panel_reviews_path, method: :get, class: 'pull-right form-inline form-search reviews-form') do
  = hidden_field_tag :locale, params[:locale]
  = hidden_field_tag :type, params[:type]
  .form-group
    .input-daterange.input-group#datepicker
      = text_field_tag :start, params[:start], placeholder: 'Start date', class: 'form-control', name: 'start'
      %span.input-group-addon to
      = text_field_tag :end, params[:end], placeholder: 'End date', class: 'form-control', name: 'end'
    = text_field_tag(:phone, params[:phone], placeholder: "Enter Phone", class: 'form-control')
  = submit_tag(t('button.search'), class: 'btn btn-info')
  = link_to t('admin_panel.users.index.export_excel'), '#', class: 'btn btn-success export-btn'

%table.table.table-striped#review_table
  %thead
    %tr
      %th= @klass.human_attribute_name(:user)
      %th= @klass.human_attribute_name(:type)
      %th= @klass.human_attribute_name(:reviewable_name)
      %th= @klass.human_attribute_name(:helpfuls)
      %th= @klass.human_attribute_name(:avg_rating)
      %th= @klass.human_attribute_name(:completion)
      %th= @klass.human_attribute_name(:created_at)
      %th= @klass.human_attribute_name(:status)
      %th{ width: 160 }

  %tbody= render partial: 'review', collection: @reviews

= paginate @reviews

:javascript
  $('body').find('.input-daterange').datepicker({format: "yyyy-mm-dd"});
