%h4.text-muted= t('audit', stuff: @review.class.model_name.human)
%hr.thin
%p
  .col-lg-2 #{@review.class.human_attribute_name(:avg_rating)}:
  = @review.avg_rating
%p
  .col-lg-2 #{@review.class.human_attribute_name(:note)}:
  = @review.note.to_s.html_safe

- if @review.need_audit?
  %hr.thin
  .text-center
    = link_to ' Publish ', audit_admin_panel_review_path(@review, as: Review::VALID_STATUS), remote: true, method: :put, class: 'btn btn-success'
    = link_to ' Rejected ', audit_admin_panel_review_path(@review, as: 'rejected'), remote: true, method: :put, class: 'btn btn-danger'
