%p#notice= notice

%p
  %b Medical experience:
  = @review.user_email
%p
  %b Revie type:
  = @review.reviewable_type
%p
  %b Helpfuls:
  = @review.helpfuls_count
%p
  %b Symptoms:
  = @review.human_symptoms
%p
  %b Conditions:
  = @review.human_conditions
%p
  %b Dosage:
  = @review.dosage
%p
  %b Intake frequency:
  = @review.intake_frequency
%p
  %b Duration:
  = @review.duration
%p
  %b Adverse effects:
  = @review.adverse_effects
%p
  %b Avg rating:
  = @review.avg_rating
%p
  %b Note:
  = @review.note
%p
  %b Status:
  = @review.status
