= navigation_bar(title: @record.name) do
  #navigation-right
    = link_to url_for([:new, :mobile, @record, :review]) + '?new_medical_experience=1' do
      = image_tag 'mobile/dark_cyan_button.svg', class: 'bg'
      = image_tag 'mobile/icons/white_right_logo.png', class: 'icon add-review-icon'

= render 'info_in_profile'

%table.questions.required
  - @required_questions.each_with_index do |question, index|
    :ruby
      is_last = @required_questions.size == index + 1 && params[:with_optional].blank? && \
                @optional_questions.any?

    %tr.question{id: ('last' if is_last)}
      %td.rating-small{data: {rating: question[:avg_rating]}}
      %td.content{ colspan: (is_last ? 1 : 2)  }
        = question['content']
      - if is_last
        %td#more= link_to t('common.more'), with_optional_path

- if params[:with_optional]
  %table.questions.optional
    %tr
      %td.question.optional-title{ colspan: 2}= t('review.optional_criteria')
    - @optional_questions.each_with_index do |question, index|
      - is_last = @required_questions.size == index + 1
      %tr.question
        %td.rating-small{data: {rating: question[:avg_rating]}}
        %td.content= question['content']

    - if @record.kind_of?(Physician)
      %tr.question
        %td{:colspan => 2}
          = t('search.physician.average_consultation_duration')
          = @record.human_avg_waiting_time

    - if @record.respond_to?(:human_avg_price)
      %tr.question
        %td{:colspan => 2}
          = t('search.physician.average_price')
          = @record.human_avg_price

#actions-section
  - url = @record.reviews_count > 0 ? url_for(['mobile', @record, 'reviews']) : 'javascript:'
  = link_to_button t('common.review'), url, icon: 'write_review' do
    %span.review_count= @record.reviews_count

- content_for :javascript do
  :javascript
    $(function(){
      // Add odd/even class
      $(".question:even").addClass('even');
      $(".question:odd").addClass('odd');

      // Raty
      var ratyConfig = {
        readOnly: true,
        starOff : '#{asset_path("mobile/icons/star-off.png")}',
        starOn  : '#{asset_path("mobile/icons/star-on.png")}',
        width: '11.7rem',
        score: function() {
          return $(this).data('rating');
        }
      };

      $('.rating-large').raty(ratyConfig);
      ratyConfig['width'] = '6.7rem';
      $('.rating-small').raty(ratyConfig);
    });
