= simple_form_for([:admin_panel, @admin], remote: true, html: {class: 'form-horizontal', role: 'form' }, defaults: { input_html: { class: 'form-control'}, label_html: { class: 'col-lg-2' } }) do |f|
  = f.error_notification

  = f.input :email
  = f.input :password
  = f.input :password_confirmation

  .form-group
    .col-lg-offset-2
      = f.button :submit, class: 'btn btn-primary'
