.info.dark_bg.hospital_review{class: linked_to_network_class}
  .avatar.inline= image_tag('mobile/reviews/hospital_avatar.png')
  .details.inline
    .attr.hospital_name= hospital_name_with_h_class
    .attr #{@review.hospital_address}, #{@review.hospital_city}
    .attr.waiting_time
      %span= t('review.average_waiting_time')
      = @review.hospital.human_avg_waiting_time

    #avg_rating.rating-large{data: {rating: @review.avg_rating}}

  = link_to @review.is_anonymous ? 'javascript:' : [:mobile, @review.user] do
    .user
      .user_avatar= image_tag @review.is_anonymous ? @review.profile.avatar.small.default_url : @review.small_avatar
      .username= @review.username
