.info.dark_bg.physician_review{class: linked_to_network_class}
  .avatar.inline= image_tag('mobile/reviews/physician_avatar.png')
  .details.inline
    .attr.hospital_name #{@review.physician.name}
    .attr= physician_position_and_gender(@review.physician)
    #avg_rating.rating-large{data: {rating: @review.avg_rating}}

  = link_to @review.is_anonymous ? 'javascript:' : [:mobile, @review.user] do
    .user
      .user_avatar= image_tag @review.is_anonymous ? @review.profile.avatar.small.default_url : @review.small_avatar
      .username= @review.username

