- classes = []
- classes << 'first' if is_first

.question-cell{ class: classes.join(' ') }
  .title
    = question.content
    .rating-description
  = hidden_field_tag 'review[answers_attributes][][question_id]', question.id
  - case question.question_type
  - when 'rating'
    = rating_stars_tag 0, editable: { name: 'review[answers_attributes][][rating]' }
  - when 'waiting_time'
    = select_tag 'review[answers_attributes][][waiting_time]',
      options_for_select(question.options), include_blank: true
  - when 'price'
    .answer
      = I18n.locale == :en ? 'INR' : '¥'
      = number_field_tag 'review[answers_attributes][][price]', nil, step: 1
