= navigation_bar title: @review.username

.show
  = render "#{review_type}_info"

  .answers.required
    - if @review.kind_of?(HospitalReview)
      %div{:class => "answer #{cycle('odd_bg', 'even_bg')}"}
        %span= t('review.waiting_time')
        = @review.human_waiting_time

    - @answers.each_with_index do |answer, index|
      - is_last = (@answers.size == index + 1 && params[:with_optional].blank?)
      .answer{class: cycle('odd_bg', 'even_bg'), id: ('last' if is_last)}
        .rating-small.inline{data: {rating: answer.rating}}
        .content.inline{class: ('clearfix' if is_last)}
          = answer.question_content
          - if is_last && @has_more
            = link_to t('common.more'), url_for(params.merge(with_optional: true)), id: 'more', class: 'inline pull-right'

    - if @review.human_waiting_time && !params[:with_optional].blank? && @review.kind_of?(PhysicianReview)
      %div{:class => "answer #{cycle('odd_bg', 'even_bg')}"}
        %span= t('review.consultation_duration')
        = @review.human_waiting_time

    - if @review.price && !params[:with_optional].blank? && APP_CONFIG[:node] == 'india'
      %div{:class => "answer #{cycle('odd_bg', 'even_bg')}"}
        %span Consultation price:
        = @review.price
        INR


  .symptoms.dark_bg
    - if @review.human_symptoms.present?
      =t('review.symptoms') + "#{@review.human_symptoms}"
    - else
      =t('review.no_symptoms')
  .note= @review.note
  .helpful.clearfix
    = "#{@review.helpfuls_count}" + t('review.helpful_votes')
    .created_at= @review.created_at.to_date

  #actions-section.half
    = link_to_button t('review.report'), report_url(@review.id), icon: 'report',
      bg: 'red', class: 'pull-left report'
    = link_to_button t('review.helpful'), 'javascript: void(0);', icon: 'helpful',
      class: 'pull-right', id: 'helpful_btn',
      data: {url: "/v1/reviews/#{@review.id}/helpful.json", done: @review.already_marked_as_helpful }

- content_for :javascript do
  :javascript
    $(function(){
      // Adjust info dom height, because have raty, so height will different when resize.
      $('.info').height($('.details').height() + 41 - 3 - 10);
      //$('#last .content').width($('#last').innerWidth() - 157 - 35 - 110);
      $('#last #more').height($('#last').outerHeight()).css('line-height', $('#last').outerHeight() + 'px');

      $(window).on('resize', function() {
        $('.info').height($('.details').height() - 10);
        //$('#last .content').width($('#last').innerWidth() - 157 - 35 - 110);
        $('#last #more').height($('#last').outerHeight()).css('line-height', $('#last').outerHeight() + 'px');
      });

      // Mark as helpful
      $('a#helpful_btn').on('click', function(e) {
        e.preventDefault();
        var $this = $(e.currentTarget),
          url = $this.data('url');
        if ($this.data('done')) {
          showNotification("#{t('review.already_marked')}");
        } else {
          $.ajax({
            url: url,
            type: 'PUT',
            dataType: 'json',
            complete: function(data, status) {
              if (data.responseJSON && data.responseJSON.error) {
                showNotification(data.responseJSON.error);
              } else if (data.status === 204) {
                showNotification("#{t('review.vote_successful')}");
              }
              $this.data('done', true);
            }
          });
        }
      });

      // Raty
      $('.rating-large, .rating-small').raty({
        readOnly: true,
        starOff : '#{asset_path("mobile/icons/star-off.png")}',
        starOn  : '#{asset_path("mobile/icons/star-on.png")}',
        width: function(){
           return $(this).hasClass('rating-large') ? 230 : 'auto';
        },
        score: function() {
          return $(this).data('rating');
        }
      });
    });
