= simple_form_for([:admin_panel, @user], remote: true, html: {class: 'form-horizontal', role: 'form' }, defaults: { input_html: { class: 'form-control'}, label_html: { class: 'col-lg-2' } }) do |f|
  = f.error_notification
  = f.input :phone
  = f.input :password
  = f.simple_fields_for :profile do |p|
    = p.input :username
    = p.input :avatar, as: :file
    = p.input :country
    = p.input :city
  .form-group
    .col-lg-offset-2
      = f.button :submit, class: 'btn btn-primary'

:javascript
  $(".chosen-select").chosen({
    disable_search_threshold: 10,
    no_results_text: 'Oops, nothing found!',
    allow_single_deselect: true,
    width: '100%'
  })
