%tr{id: "user_#{user.id}", title: user.id}
  %td= user.username
  %td= user.email
  %td= user.phone
  %td= social_links(user)
  %td= user.created_at.to_date
  %td
    -# = link_to t('button.edit'), admin_panel_edit_user_path(user), class: 'btn btn-primary btn-xs various fancybox.ajax'
    = link_to t('button.login_as'), login_as_admin_panel_user_path(user), class: 'btn btn-primary btn-xs', method: :post
    = link_to t('button.profile'), profile_admin_panel_user_path(user), class: 'btn btn-primary btn-xs various fancybox.ajax'
    = link_to t('button.destroy'), admin_panel_user_path(user), method: :delete, data: { remote: true, confirm: t('button.confirm') }, class: 'btn btn-danger btn-xs'
