%table{border: 1, cellpadding: 2}
  %thead
    %tr
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= User.human_attribute_name(:username)
      - unless current_admin.cegedim_guy?
        %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= User.human_attribute_name(:email)
        %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= User.human_attribute_name(:phone)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Profile.human_attribute_name(:age)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Profile.human_attribute_name(:gender)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Profile.human_attribute_name(:height)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Profile.human_attribute_name(:weight)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= User.human_attribute_name(:social_link)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Profile.human_attribute_name(:occupation)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Profile.human_attribute_name(:birthplace)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Profile.human_attribute_name(:education_level)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Profile.human_attribute_name(:income_level)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Profile.human_attribute_name(:human_conditions)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Profile.human_attribute_name(:interests)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= User.human_attribute_name(:reviews_count)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= User.human_attribute_name(:created_at)

  %tbody
    - @users.each do |user|
      %tr
        %td{align: :left, width: 150}= user.username
        - unless current_admin.cegedim_guy?
          %td{align: :left, width: 200}= user.email
          %td{align: :left, width: 100}= user.phone
        %td{align: :left, width: 100}= user.age
        %td{align: :left, width: 100}= user.gender
        %td{align: :left, width: 100}= user.height
        %td{align: :left, width: 100}= user.weight
        %td{align: :left, width: 100}= user.human_social_links
        %td{align: :left, width: 200}= user.occupation
        %td{align: :left, width: 200}= user.birthplace
        %td{align: :left, width: 200}= user.education_level
        %td{align: :left, width: 200}= user.income_level
        %td{align: :left, width: 300}= user.human_conditions
        %td{align: :left, width: 400}= user.human_interests
        %td{align: :left, width: 150}= user.published_reviews.size
        %td{align: :left, width: 120}= user.created_at.to_s(:db)
