%tr{id: "department_#{department.id}"}
  %td= department.vendor_id
  %td= department.name
  %td= department.created_at
  - unless request.xhr?
    %td
      = link_to t('button.edit'), edit_admin_panel_department_path(department), class: 'btn btn-primary btn-xs various fancybox.ajax'
      = link_to t('button.destroy'), admin_panel_department_path(department), method: :delete, data: { remote: true, confirm: t('button.confirm')  }, class: 'btn btn-danger btn-xs'
