%h3.text-muted= t('.title')

= simple_form_for :push_notification, html: { class: 'form-horizontal', role: 'form', id: 'push_form' },
  defaults: { input_html: { class: 'form-control'}, label_html: { class: 'col-lg-3' } } do |f|

  = f.input :user_phones, as: :text, label: 'SMS users', input_html: { rows: 5 }, hint: 'one mobile phone per line, leave it empty to send to all users'
  = f.input :alert, as: :text, label: t('.push_content'), hint: t('.hint'), input_html: { rows: 5 }

  .form-group
    .col-lg-6.col-lg-offset-3
      %p
        =t '.payload_size'
        \:
        %span#payload_bytes ?
        =t '.bytes'

      %input{class: 'btn btn-info', type: 'button', |
        value: t('.get_payload_size'), id: 'get_payload_size'}
      = f.button :submit, "#{t('.send')}", class: 'btn-danger', id: 'submit_button'

:javascript
  $(function() {
    $('#push_form').submit(function() {
      if ($('#push_notification_user_phones').val().length == 0) {
        return confirm('Are you sure to send to all users?');
      }
    });
    $('#get_payload_size').click(function() {
      $.post('#{admin_panel_push_notification_payload_size_path}', $('#push_form').serialize())
      .success(function(data) {
        var intSize = parseInt(data);
        var invalid = intSize > 256;

        $('#payload_bytes').text(data);

        if (invalid) {
          $('#payload_bytes').addClass('text-danger');
        } else {
          $('#payload_bytes').removeClass('text-danger');
        }

        $('#submit_button').prop('disabled', invalid);
      });
    });

  });
