= navigation_bar title: t('settings.avatar')

= form_for [:mobile, current_user.profile], url: mobile_my_account_path do |f|
  = hidden_field_tag :proceed_to, request.url
  .edit-avatar
    = image_tag current_user.profile.avatar.thumb.url, class: 'current'
    = f.file_field :avatar, class: 'invisible'
    = f.label :avatar do
      = image_tag 'mobile/upload_btn.png', class: 'upload-button'


- content_for :javascript do
  :javascript
    $(function() {
      $('#profile_avatar').change(function() {
        $(this).closest('form').submit();
      });

      $('.current').click(function() {
        $('#profile_avatar').click();
      });
    });
