= navigation_bar(title: t('my_account.more_personal_info'))

%h5.text-center= t('my_account.complete_your_profile')

= form_for @profile, url: mobile_my_account_path, html: {id: 'edit-profile'} do |f|
  .field-group
    = f.label :height, class: 'label-inline'
    = f.number_field :height, step: 'any'
    = t('settings.meters')

  .field-group
    = f.label :weight, class: 'label-inline'
    = f.number_field :weight, step: 'any'
    = t('settings.kg')

  .field-group
    = f.label :occupation
    - if I18n.locale == :en
      = f.select :occupation, Mobile::MyAccountHelper::OPTIONS[:occupation], include_blank: true
    - elsif I18n.locale == :"zh-CN"
      = f.select :occupation, Mobile::MyAccountHelper::OPTIONS[:occupation_cn], include_blank: true

  .field-group
    %label.block= t('settings.hometown')
    - if I18n.locale == :en
      = f.select :region, Mobile::MyAccountHelper::OPTIONS[:birthplace].keys, include_blank: true
      = f.select :city, city_list_for(@profile), include_blank: true
    - elsif I18n.locale == :"zh-CN"
      = f.select :region, Mobile::MyAccountHelper::OPTIONS[:birthplace_cn].keys, include_blank: true
      = f.select :city, city_list_for(@profile), include_blank: true

    .arrow-up

  #public-infos-switch
    = t('settings.public_info')
    = f.switch :network_visible, wrapper_opts: { class: 'pull-right' }

  #private-infos
    = f.label :education_level, t('settings.education'), class: 'block'
    - if I18n.locale == :en
      = f.select :education_level, Mobile::MyAccountHelper::OPTIONS[:education_level], include_blank: true
    - elsif I18n.locale == :"zh-CN"
      = f.select :education_level, Mobile::MyAccountHelper::OPTIONS[:education_level_cn], include_blank: true

    = f.label :income_level, class: 'block' do
      = t('settings.income')
    - if I18n.locale == :en
      = f.select :income_level, Mobile::MyAccountHelper::OPTIONS[:income_level], include_blank: true
    - elsif I18n.locale == :"zh-CN"
      = f.select :income_level, Mobile::MyAccountHelper::OPTIONS[:income_level_cn], include_blank: true



  .edit-profile-container
    = action_button t('common.cancel'), bg: 'dark_cyan', icon: 'icons-cross', href: mobile_my_account_path, opts: { class: "col-2 #{'btn-cn' if I18n.locale == :'zh-CN'}" }
    = action_button t('common.complete'), icon: 'icons-tick_small', form: f, opts: { class: 'col-2' }

- content_for :javascript do
  :javascript
    $(function(){
      $('#profile_region').on('change', function(e) {
        currentRegion = $(this).val();
        if (currentRegion) {
          $.getJSON('#{get_cities_for_mobile_my_account_path}/' + currentRegion, function(data){
            var options = [];
            $.each(data, function(i, n){
              options.push('<option value="' + n + '">' + n + '</option>');
            });
            $('#profile_city').html(options.join());
          });
        }
      });
    });
