= navigation_bar(title: t('settings.title'))

#settings-container
  %h4= t('settings.edit_profile')

  = link_to avatar_mobile_my_account_path, class: 'settings-item' do
    .settings-change_avatar.icon
    = t('settings.change_avatar')

  = link_to personal_infos_mobile_my_account_path, class: 'settings-item darker' do
    .settings-edit_profile.icon
    = t('settings.change_personal_info')

  - if I18n.locale == :en
    = link_to social_mobile_my_account_path, class: 'settings-item' do
      .settings-social.icon
      = t('settings.social_network')
  -elsif I18n.locale == :"zh-CN"
    = link_to social_mobile_my_account_path, class: 'settings-item' do
      .settings-social_cn.icon
      = t('settings.social_network')


  = link_to mobile_my_account_health_conditions_path, class: 'settings-item' do
    .settings-health.icon
    = t('settings.change_health_condition')

  = action_button t('common.sign_out'), href: mobile_sign_out_path, opts: {id: 'logout'}

  %h4= t('settings.statistics')

  .settings-item
    .settings-completed.icon
    = t('settings.completed_reviews')
    .count= @completed

  .settings-item.darker
    .settings-pending.icon
    = t('settings.pending_reviews')
    .count= @pending

  .settings-item
    .settings-published.icon
    = t('settings.published_reviews')
    .count= @published
