%h3.text-muted= t('headline.edit', record: Survey::Survey.model_name.human)
%hr

= simple_form_for([:admin_panel, @survey], url: admin_panel_survey_path(@survey), html: { class: 'form-horizontal', role: 'form', multipart: true }, defaults: { input_html: { class: 'form-control'}, label_html: { class: 'col-lg-2' } }) do |f|
  = f.error_notification

  .form-group
    .col-lg-offset-2
      = f.button :submit, class: 'btn btn-primary'

  = f.input :title
  = f.input :description
  = f.input :note
  = f.input :color, input_html: { type: :color }
  = f.input :logo
  - if @survey.logo.present?
    = image_tag @survey.logo.url
  = f.simple_fields_for :questions do |qf|
    .question-row
      = qf.input :title
      = qf.input :hint
      = qf.input :type, collection: %w(Survey::TextFieldQuestion Survey::TextAreaQuestion Survey::DateFieldQuestion Survey::SelectQuestion Survey::SelectWithOtherQuestion Survey::HospitalSelectQuestion Survey::PhysicianSelectQuestion)
      = qf.input :default_value
      = qf.input :options
      = qf.input :category, collection: %w(hospital physician user)
      = qf.input :mandatory
      = qf.input :position
      = qf.input :_destroy, as: :boolean

  .form-group
    .col-lg-offset-2
      = f.button :submit, class: 'btn btn-primary'
