:javascript
  $(function() {
    window.map = initMap();
    var currentLocation = null;
    var allHospitals = {};
    var allMarkers = {};
    var cellTemplate = $('#cell-template').text();
    var searchTabTemplate = $('#search-tab-hospital').text();
    Mustache.compile(cellTemplate);
    var $searchResults = $('#search-results');
    var disableNextMapIdle = false;

    function initMap() {
      var map = new BMap.Map("map-canvas");
      map.centerAndZoom(new BMap.Point(0, 0), 14);
      var geolocation = new BMap.Geolocation();

      geolocation.getCurrentPosition(function(r){
          if(this.getStatus() == BMAP_STATUS_SUCCESS){
            currentLocation = [r.point.lng, r.point.lat]
            var marker = new BMap.Marker(r.point);
            map.addOverlay(marker);
            map.panTo(r.point);
            $(".loading-indicator").remove();
          }
          else {
              showNotification("定位失败，请检查是否已经打开定位服务。");
          }
      },{enableHighAccuracy: true})

      map.addEventListener("dragend", function(){
        initHospitals();
      });

      return map;
    }

    function initHospitals(type) {
      if (disableNextMapIdle) {
        disableNextMapIdle = false;
      } else {
        var q = $('#search-field').val();
        if (q.length>0) { return; }

        var bounds = map.getBounds();

        if (bounds) {
          bounds = [bounds._swLat, bounds._swLng, bounds._neLat, bounds._neLng]
          $.get("#{in_area_mobile_hospitals_path}", { "bounds": bounds, "baidu_location": currentLocation, type: type })
          .done(function(hospitals) {
            setHospitals(hospitals);
            if(type){
              $("a[href=#" + type + "]").addClass("active");
              $("a[href=#" + type + "]").siblings().removeClass("active");
            }
          });
        }
      }
    }

    function setHospitals(hospitals) {
      if (hospitals.length == 0) {
        allHospitals = {};
        $(".search-type-tab").addClass('hidden');
        $searchResults.addClass('hidden');
      } else {
        var hospitalHash = {};
        for (var i = 0; i < hospitals.length; i++) {
          var hospital = hospitals[i];
          hospitalHash[hospital.id] = hospital;
        }

        var selectedHospital = findSelectedHospital(allHospitals);
        if (selectedHospital) {
          var hospital = hospitalHash[selectedHospital.id];
          if (hospital) {
            hospital.isSelected = true;
          } else {
            $searchResults.removeClass('selected');
          }
        } else {
          $searchResults.removeClass('selected').removeClass('hidden').removeClass('condensed').scrollTop(0);
        }

        renderHospitalList(hospitals);
        renderHospitalMarkers(hospitalHash);
        removeUnusedMarkers(hospitalHash);
        allHospitals = hospitalHash;
      }
    }

    function findSelectedHospital(hospitalHash) {
      for (var id in hospitalHash) {
        var hospital = hospitalHash[id];
        if (hospital.isSelected) {
          return hospital;
        }
      }
      return null;
    }

    function renderHospitalList(hospitals) {
      function onoffs() {
        var avgRating = Math.floor(this.hospital.avg_rating);
        var ret = [];
        var on = '#{image_tag('mobile/icons/star-on.png', class: "rating-star")}';
        var off = '#{image_tag('mobile/icons/star-off.png', class: "rating-star")}';
        for (var i = 0; i < 5; i++) {
          if (i < avgRating) {
            ret.push(on);
          } else {
            ret.push(off);
          }
        }

        return ret;
      }

      var html = '<div class="list-placeholder"></div>';
      html += Mustache.render(searchTabTemplate);
      for (var i = 0; i < hospitals.length; i++) {
        var hospital = hospitals[i];
        hospital.onoffs = onoffs;
        if(hospital.distance > 9999){
          hospital.distance = (hospital.distance/1000).toFixed() + "km";
        }
        else{
          hospital.distance += "m";
        }
        html += Mustache.render(cellTemplate, { "hospital": hospital });
      }
      $searchResults.removeClass('hidden').html(html);

      $(".search-hospital a").on('click', function(e){
        var q = $('#search-field').val();
        if (q.length>0) {
          doSearch($(e.target).attr("href").split("#")[1]);
        } else {
          initHospitals($(e.target).attr("href").split("#")[1]);
        }
      });

      $(".search-type-tab").removeClass('hidden');
    }

    function renderHospitalMarkers(hospitalHash) {
      for (var id in hospitalHash) {
        var hospital = hospitalHash[id];
        if (existingHospital = allHospitals[id]) {
          if (existingHospital.isSelected == hospital.isSelected) {
            continue;
          } else {
            var marker = allMarkers[hospital.id];
            setMarkerSelected(marker, hospital.isSelected);
          }
        } else {
          var marker = addMarkerForHospital(hospital);
          allMarkers[hospital.id] = marker;
        }
      }
    }

    function setMarkerSelected(marker, isSelected) {
      if (isSelected) {
        map.panTo(new BMap.Point(marker.point.lng, marker.point.lat));
        marker.setIcon(new BMap.Icon("#{image_url('mobile/hospital_marker_selected.png')}", new BMap.Size(40,40)));
      } else {
        marker.setIcon(new BMap.Icon("#{image_url('mobile/hospital_marker.png')}", new BMap.Size(40,40)));
      }
    }

    function addMarkerForHospital(hospital) {
      var pt = new BMap.Point(hospital.longitude, hospital.latitude);
      var icon = new BMap.Icon("#{image_url('mobile/hospital_marker.png')}", new BMap.Size(40,40));
      var marker = new BMap.Marker(pt, {icon: icon});

      map.addOverlay(marker);

      marker.hospitalID = hospital.id;
      marker.addEventListener("click", function(event) {
        markerClicked(marker);
      });

      return marker;
    }

    function markerClicked(marker) {
      var selectedHospital = findSelectedHospital(allHospitals);
      var hospital = allHospitals[marker.hospitalID];
      if (selectedHospital && (hospital.id == selectedHospital.id)) {
        return;
      }

      var $cell = $('#hospital-' + hospital.id);
      $cell[0].scrollIntoView(true);
      setMarkerSelected(marker, true);
      hospital.isSelected = true;

      $searchResults.addClass('selected');

      if (selectedHospital) {
        selectedHospital.isSelected = false;
        var marker = allMarkers[selectedHospital.id];
        setMarkerSelected(marker, false);
      }
    }

    function removeUnusedMarkers(hospitalHash) {
      for (var id in allMarkers) {
        if (!hospitalHash[id]) {
          var marker = allMarkers[id];
          map.removeOverlay(marker);
          delete allMarkers[id];
        }
      }
    }

    $('#search-field').keydown(function(event) {
      if (event.which == 13) { // Enter
        $('#search').click();
      }
    });


    $('#search').click(function() {
      doSearch('distance');
    });

    function doSearch(type) {
      var q = $('#search-field').val();
      $.get("#{search_mobile_hospitals_path}", { "q": q, "baidu_location": currentLocation, type: type })
      .done(function(hospitals) {
        if (hospitals.length == 0) {
          $('#notification').show().delay(1000).fadeOut(250);
        }

        setHospitals(hospitals);
        $(".search-type-tab").removeClass('hidden');
        if(type){
          $("a[href=#" + type + "]").addClass("active");
          $("a[href=#" + type + "]").siblings().removeClass("active");
        }
        $searchResults.removeClass('hidden').removeClass('condensed').scrollTop(0);
      });
    }

    $searchResults.on('click', '.list-placeholder', function() {
      $(".search-type-tab").addClass('hidden');
      $searchResults.addClass('condensed');
    })
    .on('click', '.hospital-list-cell', function(event) {
      var id = parseInt($(this).prop('id').match(/hospital-(\d+)/)[1]);
      var hospital = allHospitals[id];
      if (hospital) {
        if (!$searchResults.hasClass('condensed')) {
          disableNextMapIdle = true;
          map.setCenter(new BMap.Point(hospital.longitude, hospital.latitude));
          $searchResults.addClass('condensed').addClass('selected');
          var cell = this;
          setTimeout(function() {
            cell.scrollIntoView();
          }, 250);

          hospital.isSelected = true;
          setMarkerSelected(allMarkers[id], true);
          event.preventDefault();
        } else {
          // Do nothing here, just let it follow the link
        }
      } else {
        event.preventDefault();
        // console.warn('something wrong here, hospital with id ' + id + ' is not in the list');
      }
    });

    var initInterval = setInterval(function(){
      if(currentLocation != null){
        initHospitals();
        clearInterval(initInterval);
      }
    }, 1000);


    // CSS 100% height is not working for mobile safari at least. Use this
    // as a fix.
    var $map = $('#map-canvas');
    function setMapHeight() {
      $map.css({ 'height': $map.parent().height() });
    }

    setMapHeight();
    $(window).on('resize', setMapHeight);

  });
