.info.hospital
  .avatar.inline= image_tag('mobile/hospital_avatar.png')
  .details.inline
    - if @record
      .attr.hospital_name #{@record.name}
      .attr #{@record.address}, #{@record.city}
      .attr.waiting_time
        %span= t('review.average_waiting_time')
        = @record.human_avg_waiting_time
      #avg_rating.rating-large{data: {rating: @record.avg_rating}}

- if @highly_reviews_departments.present?
  .highly_reted_deps
    .title= t('review.departs_with_good_doctor')
    .deps
      - @highly_reviews_departments.each do |dep|
        %span #{dep['name']}(#{dep['reviews_count']})
