= navigation_bar title: t('review.hospital') do
  #navigation-right.hidden
    = action_button 'MAP', bg: 'dark_cyan', href: 'javascript:$(this).hide();$(".map-disabled").removeClass("map-disabled")'

#map-container.navigation-body.map-disabled
  #map-canvas
    .loading-indicator= image_tag "mobile/loading.gif"

  #search-layer
    #search-bar
      = text_field_tag 'q', params[:q], placeholder: t('review.search_by_hospital_name'),
        class: 'search-field', id: 'search-field'
      = action_button '', icon: 'icons-magnifying_glass', type: :button,
        bg: 'dark_cyan', opts: {id: 'search'}

    #notification
      = t('review.no_found')

    #search-results-container
      #search-results.hidden

%script(type="text/x-mustache" id="search-tab-hospital")
  .search-type-tab.search-hospital.clearfix.hidden
    - Mobile::SearchHelper::SEARCH_TAB.each do |type, label|
      = link_to label, "##{type}", class: review_type_tab_class(type)

%script(type="text/x-mustache" id="cell-template")
  = link_to proceed_to_path(:hospital), class: 'hospital-list-cell', id: 'hospital-{{hospital.id}}' do
    .side-bar
      = image_tag 'mobile/hospital_icon.png', width: 63, class: 'icon'
      {{#hospital.distance}}
      .distance
        = image_tag 'mobile/location_marker.svg', width: 15, height: 20, class: 'location-marker'
        = "{{hospital.distance}}"
      {{/hospital.distance}}
    %ul
      %li
        .rating-stars
          {{#hospital.onoffs}}
          {{{.}}}
          {{/hospital.onoffs}}
      %li {{hospital.name}}
      %li {{hospital.address}}
      %li {{hospital.reviews_count}} #{t('search.hospital.reviews')}

- content_for :javascript do
  - if APP_CONFIG[:node] == "china"
    = javascript_include_tag "//api.map.baidu.com/api?v=1.4"
    = render "mobile/hospitals/baidu_map"
    :javascript
      $(function() { $('.map-disabled').removeClass('map-disabled'); });
  - else
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{APP_CONFIG[:google][:browser_key]}&sensor=true"
    = render "mobile/hospitals/google_map"

