%tr{id: "medical_experience_#{medical_experience.id}"}
  %td= medical_experience.user_email
  %td= medical_experience.referral_code_code
  %td= medical_experience.network_visible
  %td= medical_experience.behalf
  %td= medical_experience.human_completion
  %td= medical_experience.avg_rating
  %td= medical_experience.created_at
  %td
    = link_to t('button.show'), admin_panel_medical_experience_path(medical_experience), class: 'btn btn-default btn-xs various fancybox.ajax'
    = link_to t('button.edit'), edit_admin_panel_medical_experience_path(medical_experience), class: 'btn btn-primary btn-xs various fancybox.ajax'
    = link_to t('button.destroy'), admin_panel_medical_experience_path(medical_experience), method: :delete, data: { remote: true, confirm: t('button.confirm')  }, class: 'btn btn-danger btn-xs'
