%h3.text-muted= t('headline.show', record: klass.model_name.human)
%table.table.table-bordered
  %thead
    %tr
      %th= klass.human_attribute_name(:reviewable_name)
      - if klass == MedicationReview
        %th= klass.human_attribute_name(:dosage)
        %th= klass.human_attribute_name(:intake_frequency)
        %th= klass.human_attribute_name(:duration)
        %th= klass.human_attribute_name(:adverse_effects)
      %th= klass.human_attribute_name(:helpfuls)
      %th= klass.human_attribute_name(:avg_rating)
      %th= klass.human_attribute_name(:completion)
      %th{width: 80}= klass.human_attribute_name(:status)

  %tbody
    - reviews.each do |review|
      %tr{id: "review_#{review.id}"}
        %td= review.reviewable_name
        - if klass == MedicationReview
          %td= review.dosage
          %td= review.intake_frequency
          %td= review.duration
          %td= review.adverse_effects
        %td= review.helpfuls_count
        %td= review.avg_rating
        %td= review.completion
        %td= review.human_status
