%table{border: 1, cellpadding: 2}
  %thead
    %tr
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:user)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:referral_code)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:network_visible)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:behalf)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:symptoms)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:conditions)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:human_completion)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:avg_rating)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:created_at)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:published_hospital_review)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:published_physician_reviews)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= MedicalExperience.human_attribute_name(:published_medication_reviews)

  %tbody
    - @medical_experiences.each do |medical_experience|
      %tr
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.user_email
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.referral_code_code
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.network_visible
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.behalf
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.human_symptoms
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.human_conditions
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.human_completion
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.avg_rating
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.created_at.to_s(:db)
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.published_hospital_review.try(:hospital).try(:name)
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.physicians.to_a.map(&:name).join(',')
        %td{ style: "font-size: 12px; vertical-align: top;"}= medical_experience.medications.to_a.map(&:name).join(',')
