%h2.text-muted= t('headline.show', record: MedicalExperience.model_name.human)
%table.table.table-hover.table-condensed
  %tbody
    %tr
      %td{width: '120'} #{MedicalExperience.human_attribute_name(:user)}:
      %td{style: 'width: 40%;'}= @medical_experience.user_email
      %td{width: '120'} #{MedicalExperience.human_attribute_name(:referral_code)}:
      %td= @medical_experience.referral_code_code
    %tr
      %td #{MedicalExperience.human_attribute_name(:network_visible)}:
      %td= @medical_experience.network_visible
      %td #{MedicalExperience.human_attribute_name(:behalf)}:
      %td= @medical_experience.behalf
    %tr
      %td #{MedicalExperience.human_attribute_name(:human_completion)}:
      %td= @medical_experience.human_completion
      %td #{MedicalExperience.human_attribute_name(:avg_rating)}:
      %td= @medical_experience.avg_rating
    %tr
      %td #{MedicalExperience.human_attribute_name(:symptoms)}:
      %td= @medical_experience.human_symptoms
      %td #{MedicalExperience.human_attribute_name(:conditions)}:
      %td= @medical_experience.human_conditions

- if @medical_experience.hospital_review.present?
  = render 'reviews', reviews: [@medical_experience.hospital_review], klass: HospitalReview
- if @medical_experience.physician_reviews.present?
  = render 'reviews', reviews: @medical_experience.physician_reviews, klass: PhysicianReview
- if @medical_experience.medication_reviews.present?
  = render 'reviews', reviews: @medical_experience.medication_reviews, klass: MedicationReview
