%h3.text-muted= t('headline.index', record: Authentication.model_name.human)

%table.table.table-striped#authentication_table
  %thead
    %tr
      %th= Authentication.human_attribute_name(:user)
      %th= Authentication.human_attribute_name(:provider)
      %th= Authentication.human_attribute_name(:uid)
      %th= Authentication.human_attribute_name(:token)
      %th= Authentication.human_attribute_name(:token_secret)

  %tbody
    - @authentications.each do |authentication|
      %tr{id: 'authentication_#{authentication.id}'}
        %td= authentication.user_email
        %td= authentication.human_provider
        %td{style: 'word-break:break-all;width: 200px;'}= authentication.uid
        %td{style: 'word-break:break-all;width: 250px;'}= authentication.token
        %td{style: 'word-break:break-all;width: 150px;'}= authentication.token_secret

= paginate @authentications
