%h3.text-muted= t('headline.show', record: Authentication.model_name.human)
%hr.thin
%p
  .col-lg-2 #{Authentication.human_attribute_name(:provider)}:
  = @authentication.human_provider
%p
  .col-lg-2 #{Authentication.human_attribute_name(:uid)}:
  = @authentication.uid
%p
  .col-lg-2 #{Authentication.human_attribute_name(:token)}:
  = @authentication.token
