= simple_form_for([:admin_panel, @company], remote: true, html: {class: 'form-horizontal', role: 'form' }, defaults: { input_html: { class: 'form-control'}, label_html: { class: 'col-lg-2' } }) do |f|
  = f.error_notification
  = f.input :en_name
  = f.input :cn_name
  - if @company.new_record?
    = f.input :vendor_id, label: 'ID', hint: 'note: to handle with good care. ID is a unique identifier, it should not conflict database', input_html: { placeholder: 'only number'}

  .form-group
    .col-lg-offset-2
      = f.button :submit, class: 'btn btn-primary'
