= link_to edit_mobile_medical_experience_path(medical_experience) do
  .medical-experience-cell{ class: medical_experience.network_visible ? 'network-visible' : '' }
    .left
      = completion_pie(medical_experience.completion, wrapper: true)
      .rating-small{data: {rating: medical_experience.avg_rating}}
      .date=l medical_experience.created_at.to_date

      - if medical_experience.network_visible
        .network-visible
          = image_tag 'mobile/me_list_network_symbol.png', class: 'network-symbol'
          = t('my_account.social.link_with_network')


      .arrow-left-lightblue
      .arrow-left-darkblue
    .right
      - if medical_experience.reviews.empty?
        = action_button t('common.delete'), href: mobile_medical_experience_path(medical_experience),
          opts: { class: 'delete-button', :method => 'delete', confirm: 'Are you sure?' }
      - else
        - reorder_reviews(medical_experience.reviews).each do |review|
          .review{ class: review.id.nil? ? 'gray' : '' }
            .avatar= reviewable_avatar(review.type)
            .detail
              .reviewable_name= review.reviewable_name
              .review_completion_wrapper
                .review_completion{ style: "width: #{number_to_percentage(review.completion * 100, precision: 0)}"}
