- content_for :head do
  = csrf_meta_tag

= navigation_bar(title: t('my_account.medical_experience'))

.medical-experiences= render(@medical_experiences)

- content_for :javascript do
  :javascript
    function initializeRatingStars() {
      $('.rating-small').raty({
        readOnly: true,
        starOff : '#{asset_path("mobile/icons/star-off.png")}',
        starOn  : '#{asset_path("mobile/icons/star-on.png")}',
        width: '100%',
        score: function() {
          return $(this).data('rating');
        }
      });
    }

    // On Document Ready..
    $(function() {
      initializeRatingStars();

      if (#{@has_more ? 'true' : 'false'}) {
        $('.medical-experiences').loadMore('.medical-experience-cell:last', function() {
          initializeRatingStars();
        });
      }
    });

