= simple_form_for([:admin_panel, @medication], remote: true, html: {class: 'form-horizontal', role: 'form' }, defaults: { input_html: { class: 'form-control'}, label_html: { class: 'col-lg-3' } }) do |f|
  = f.error_notification
  = f.input :name
  - if @medication.new_record?
    = f.input :vendor_id, label: 'ID', hint: "Danger: don't change it if you don't know what does it is"
  = f.input :first_company_id, label: 'Company ID', collection: Company.pluck(:vendor_id, :id), input_html: { class: 'chosen-select' }

  .form-group
    .col-lg-offset-3
      = f.button :submit, class: 'btn btn-primary'

:javascript
  $(".chosen-select").chosen({
    disable_search_threshold: 10,
    no_results_text: 'Oops, nothing found!',
    allow_single_deselect: true,
    width: '100%'
  })
