%table{border: 1, cellpadding: 2}
  %thead
    %tr
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' } ID
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Medication.human_attribute_name(:name)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Medication.human_attribute_name(:avg_rating)
      %th{ style: 'background-color: #999; font-size: 14px; height: 26px' }= Medication.human_attribute_name(:company_vendor_id)

  %tbody
    - @medications.each do |medication|
      %tr
        %td{ style: "font-size: 12px; text-align: left; padding: 3px; vertical-align: top;"}= medication.vendor_id
        %td{ style: "font-size: 12px; text-align: left; padding: 3px; vertical-align: top;"}= medication.name
        %td{ style: "font-size: 12px; text-align: left; padding: 3px; vertical-align: top;"}= medication.avg_rating
        %td{ style: "font-size: 12px; text-align: left; padding: 3px; vertical-align: top;"}= medication.first_company.try(:vendor_id)
