- specialities = Speciality.pluck(:name, :id)
= simple_form_for([:admin_panel, @physician], remote: true, html: {class: 'form-horizontal', role: 'form' }, defaults: { input_html: { class: 'form-control'}, label_html: { class: 'col-lg-2' } }) do |f|
  = f.error_notification
  = f.input :name
  - if @physician.new_record?
    = f.input :vendor_id, label: 'ID', hint: "note: to handle with good care. ID is a unique identifier for physician, it should not conflict database"
  = f.input :position
  = f.input :gender, collection: {I18n.t('male') => 'male', I18n.t('female') => 'female', I18n.t('unknown') => 'unknown'}, selected: @physician.read_attribute(:gender)
  = f.input :birthdate, start_year: Date.today.year - 90, include_blank: true
  = f.association :hospital, label: 'Hospital ID', collection: Hospital.pluck(:vendor_id, :id), input_html: { class: 'chosen-select' }
  = f.input :hospital_name do
    .form-control#physician_hospital_name= @physician.hospital_name


  = f.input :department_id, label: 'Department ID' do
    = f.select :department_id, @physician.try(:hospital).try(:departments).to_a.map{|x| [x.vendor_id, x.id, {data: {name: x.name}}]}, {},class: 'chosen-select'
  = f.input :department_name do
    .form-control#physician_department_name= @physician.department_name


  = f.input :first_speciality_id do
    = f.select :first_speciality_id, Speciality.pluck(:vendor_id, :name, :id).map{|x| [x[0], x[2], { data: {name: x[1]}}]}, {include_blank: true} , class: 'chosen-select'
  = f.input :first_speciality_name do
    .form-control#physician_first_speciality_name= @physician.first_speciality_name

  = f.input :second_speciality_id do
    = f.select :second_speciality_id, Speciality.pluck(:vendor_id, :name, :id).map{|x| [x[0], x[2], { data: {name: x[1]}}]}, {include_blank: true} , class: 'chosen-select'
  = f.input :second_speciality_name do
    .form-control#physician_second_speciality_name= @physician.second_speciality_name

  = f.input :third_speciality_id do
    = f.select :third_speciality_id, Speciality.pluck(:vendor_id, :name, :id).map{|x| [x[0], x[2], { data: {name: x[1]}}]}, {include_blank: true} , class: 'chosen-select'
  = f.input :third_speciality_name do
    .form-control#physician_third_speciality_name= @physician.third_speciality_name

  / = f.input :second_speciality, collection: specialities, selected: @physician.second_speciality.try(:id), include_blank: true
  / = f.input :third_speciality, collection: specialities, selected: @physician.third_speciality.try(:id), include_blank: true

  .form-group
    .col-lg-offset-2
      = f.button :submit, class: 'btn btn-primary'

:javascript
  $(".chosen-select").chosen({
    disable_search_threshold: 10,
    no_results_text: 'Oops, nothing found!',
    allow_single_deselect: true,
    width: '100%'
  });

  $('#physician_hospital_id').chosen().change( function(e) {
    var url, hospitalId = $(e.currentTarget).val();
    if (hospitalId) {
      url = '/admin_panel/hospitals/' + hospitalId + '/departments';
      $.getJSON(url, function(data){
        var options = ["<option></option>"];
        $.each(data.departments, function(index, value) {
          options.push("<option value='" + value[2] + "' data-name='" + value[1] + "'>" + value[0] + "</option>");
        });
        $('#physician_hospital_name').text(data.name);
        $('#physician_department_id').html(options.join(''));
        $('#physician_department_id').trigger("chosen:updated");
      });
    }
  });

  $('#physician_department_id').chosen().change( function(e) {
    var $option = $(e.currentTarget).find('option:selected');
    $('#physician_department_name').text($option.data('name'));
  });

  $('#physician_first_speciality_id').chosen().change( function(e) {
    var $option = $(e.currentTarget).find('option:selected');
    $('#physician_first_speciality_name').text($option.data('name'));
  });

  $('#physician_second_speciality_id').chosen().change( function(e) {
    var $option = $(e.currentTarget).find('option:selected');
    $('#physician_second_speciality_name').text($option.data('name'));
  });

  $('#physician_third_speciality_id').chosen().change( function(e) {
    var $option = $(e.currentTarget).find('option:selected');
    $('#physician_third_speciality_name').text($option.data('name'));
  });

