%h3.text-muted.pull-left= t('headline.index', record: Physician.model_name.human)
= form_tag(admin_panel_physicians_path, method: :get, class: 'pull-right form-inline text-right', style: 'width: 80%;') do
  %div
    .form-group{style: 'width: 415px;'}
      = label_tag(:keyword, 'Doctor name', class: 'sr-only')
      = text_field_tag(:keyword, params[:keyword], placeholder: "Enter doctor name", class: 'form-control')
    = submit_tag(t('button.search'), class: 'btn btn-info')
    = submit_tag t('admin_panel.users.index.export_excel'), class: 'btn btn-success'
  .col-lg-8.pull-right.vendor_id_range
    .input-group
      %span.input-group-addon ID form:
      = text_field_tag :vendor_id_from, params[:vendor_id_from], class: 'form-control'
      %span.input-group-addon to
      = text_field_tag :vendor_id_to, params[:vendor_id_to], class: 'form-control'
%table.table.table-striped#physician_table
  %thead
    %tr
      %th ID
      %th= Physician.human_attribute_name(:name)
      %th= Physician.human_attribute_name(:gender)
      %th= Physician.human_attribute_name(:age)
      %th{width: 200}= Physician.human_attribute_name(:hospital_name)
      %th= Physician.human_attribute_name(:position)
      %th= Physician.human_attribute_name(:department)
      %th= Physician.human_attribute_name(:speciality)
      %th= Physician.human_attribute_name(:avg_rating)
      %th{ width: 100 }

  %tbody= render @physicians

= paginate @physicians

%div= link_to t('button.create', record: Physician.model_name.human), new_admin_panel_physician_path, class: 'btn btn-success various fancybox.ajax'
