.form-group
  %label.control-label
    = question.title
    - if question.mandatory
      %span.mandatory *
  - if question.translations.where(locale: I18n.locale).first.try(:hint)
    %span.hint= question.hint
  = builder.hidden_field :question_id, value: question.id, id: "survey_feedback_answers_attributes_#{index}_question_id", name: "survey_feedback[answers_attributes][#{index}][question_id]"
  - case question
  - when Survey::TextFieldQuestion
    = builder.text_field :value, class: 'form-control', id: "survey_feedback_answers_attributes_#{index}_value", name: "survey_feedback[answers_attributes][#{index}][value]", required: question.mandatory
  - when Survey::HospitalSelectQuestion
    = image_tag 'loading.svg', class: 'hospitals-loading-img'
    = builder.select :value, [], { include_blank: I18n.t('survey.default_option') }, data: { hospitals: question.options }, class: 'form-control hospital-select', id: "survey_feedback_answers_attributes_#{index}_value", name: "survey_feedback[answers_attributes][#{index}][value]", required: question.mandatory
  - when Survey::PhysicianSelectQuestion
    = image_tag 'loading.svg', class: 'hide physicians-loading-img'
    = builder.select :value, [], { include_blank: I18n.t('survey.default_physician_option') }, data: { physician_ids: question.options.try(:split, ',') }, class: 'form-control physician-select', id: "survey_feedback_answers_attributes_#{index}_value", name: "survey_feedback[answers_attributes][#{index}][value]", required: question.mandatory
  - when Survey::SelectWithOtherQuestion
    = builder.select :value, question.options.split(','), { include_blank: I18n.t('survey.default_option') }, class: 'form-control select-with-other', id: "survey_feedback_answers_attributes_#{index}_value", name: "survey_feedback[answers_attributes][#{index}][value]", required: question.mandatory
    = builder.text_field :other_value, placeholder: I18n.t('survey.please_specify'), class: 'form-control hide other_value', id: "survey_feedback_answers_attributes_#{index}_other_value", name: "survey_feedback[answers_attributes][#{index}][other_value]"
  - when Survey::SelectQuestion
    = builder.select :value, question.options.split(','), { include_blank: I18n.t('survey.default_option') }, class: 'form-control', id: "survey_feedback_answers_attributes_#{index}_value", name: "survey_feedback[answers_attributes][#{index}][value]", required: question.mandatory
  - when Survey::DateFieldQuestion
    = builder.text_field :value, class: 'form-control datepicker', id: "survey_feedback_answers_attributes_#{index}_value", name: "survey_feedback[answers_attributes][#{index}][value]", required: question.mandatory
  - when Survey::TextAreaQuestion
    = builder.text_area :value, placeholder: question.default_value, class: 'form-control', id: "survey_feedback_answers_attributes_#{index}_value", name: "survey_feedback[answers_attributes][#{index}][value]", required: question.mandatory
