.masthead
  .pull-right
    = link_to '中文版', survey_path(@survey, id: @survey.uuid, format: nil, locale: 'zh-CN')
    = link_to 'English', survey_path(@survey, id: @survey.uuid, format: nil, locale: 'en-US')
  - if @survey.is_a? Survey::B2bSurvey
    %h3{ style: "color: #{@survey.color}" }= @survey.title
  - else
    .logo

- if @survey.is_a? Survey::B2bSurvey
  .survey-bar{ style: "background-color: #{@survey.color}" }
- else
  .survey-bar.default-bar

#header
  - if @survey.is_a? Survey::B2bSurvey
    %p= image_tag @survey.logo.url

  %p= @survey.description

- if @survey.is_a? Survey::B2bSurvey
  .survey-bar{ style: "background-color: #{@survey.color}" }
- else
  .survey-bar.default-bar

#personalInfo.row-fluid.marketing
  %p
    %small= @survey.note.try(:html_safe)

- index = -1
#survey.row-fluid.marketing
  = form_for @survey_feedback, url: survey_feedbacks_path(@survey, survey_id: @survey.uuid), validate: true do |f|
    = fields_for :answers do |builder|
      - @questions_with_category.each do |category, questions|
        %legend.title= I18n.t("survey.#{category}_caption")
        - questions.each do |question|
          = render 'question_builder', builder: builder, question: question, index: (index += 1)
      .form-group
        = f.check_box :display_medical_feedback, checked: 'checked'
        %label= I18n.t('survey.display_medical_feedback')
      .form-group
        = f.check_box :receive_information, checked: 'checked'
        %label= I18n.t('survey.receive_information')
      .form-group
        = f.check_box :agree_tos, checked: 'checked', disabled: 'disabled'
        %label= I18n.t('survey.agree_tos')
      .form-group
        #term
          #tos= @tos.html_safe
      .form-group
        = f.submit I18n.t('survey.submit'), class: 'btn btn-primary'
