%h3.text-muted= t('headline.index', record: Mailboxer::Message.model_name.human)

%table.table.table-striped#mailboxer_message_table
  %thead
    %tr
      %th= Mailboxer::Message.human_attribute_name(:subject)
      %th= Mailboxer::Message.human_attribute_name(:body)
      %th= Mailboxer::Message.human_attribute_name(:receiver)

  %tbody= render partial: 'receipt', collection: @mailboxer_receipts

= paginate @mailboxer_receipts
