#login-header
  - if I18n.locale == :en
    = image_tag 'mobile/login_logo.png', id: 'logo'
  - elsif I18n.locale == :"zh-CN"
    = image_tag 'zh_logo_240.png', id: 'logo'

= separator_tag

= form_for :user, html: {class: 'form'} do |f|
  #login-fields-section
    = f.email_field :email, placeholder: t('common.email'), class: 'icons-email'
    = f.password_field :password, placeholder: t('common.password'), class: 'icons-password'
    .input-section.align-right
      = link_to t('signin.forgot_password'), mobile_password_recover_path

  #login-actions-section
    = action_button t('common.sign_in'), icon: 'icons-login', form: f
    .columns
      = action_button t('signin.try_out'), bg: 'dark_cyan', icon: 'icons-try_out',
        href: mobile_guest_flow_path, opts: { class: 'col-2' }
      = action_button t('common.sign_up'), bg: 'dark_cyan', icon: 'icons-register',
        href: mobile_sign_up_path, opts: { class: 'col-2' }
