- if @sended || @error
  - if !@error
    %h2
      您的邀请已经成功发送，感谢您的支持！
      %br
      Your invitation has been successfully sent, thank you for your support!
  = @error
- else
  %h3
    请输入您朋友的邮件地址，您可以邀请2至4位朋友哦！ 每位受邀请的朋友注册成功后都他/她都可获得10元手机充值卡！
    %br
    Please enter your friends’ email address, you can invite 2 to 4 friends! All friends that you have invited will receive 10 RMB mobile recharge card after successful registration!

  = form_tag '/api/pages/invitation', method: :get do
    = hidden_field_tag :owner, params[:email]
    %p= email_field_tag 'guests[]', nil, placeholder: '输入您朋友的邮件地址', class: 'text_field'
    %p= email_field_tag 'guests[]', nil, placeholder: '输入您朋友的邮件地址', class: 'text_field'
    %p= email_field_tag 'guests[]', nil, placeholder: '输入您朋友的邮件地址', class: 'text_field'
    %p= email_field_tag 'guests[]', nil, placeholder: '输入您朋友的邮件地址', class: 'text_field'
    %p= submit_tag ' 提交(Send) ', class: 'submit'
